
        <ul>
            <li>Front-End
                <ul>
                    <li><a href="/projects">Layouts</a></li>
                    <li><a href="/animations">Animations</a></li>
                    <li><a href="/coming_soon">jQuery/Dom</a></li>
                    <li><a href="/coming_soon">Vue</a></li>
                    <li><a href="/coming_soon">React</a></li>
                    <li><a href="/coming_soon">Angular</a></li>
                </ul>
                
            </li>
            <li>Back-End
                <ul>
                    <li><a href="/coming_soon">SPA</a></li>
                    
                </ul>
            </li>
                
            <li>Full-Stack</li>
        </ul>
