@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');
body{
   
}
.site-header{
    opacity: 0.9;
    background: rgb(210, 182, 171);
    color: white;
    border-bottom: 0.5px solid rgb(204, 145, 145); 
}
.what-i-do{
    
    margin-top: 0.4em;
    
    opacity: 0.7;
    border-radius: 0.5em;
    
}
.site-header > h3{
    letter-spacing: 0.2em;
    font-weight: 300;
}

.site-header li{
    list-style: none outside;
    font-style: italic;
    max-width: 100px;
    margin:0 auto;
    font-family: 'Lato',sans-serif;
}



.site-header  p {
     border-bottom: 2px solid white; 
    
}
.site-header  ul{
    background: rgb(242, 242, 242);
    
}

.what-i-do > h4{
    font-family: 'Great Vibes', cursive;
    letter-spacing: 0.2em;
    
    

}
.site-header li > a:hover{
    color: var( --color-link-hover );
}
 footer{
     background: rgb(210, 182, 171);
     color:white;
     
 }
 footer p{
     padding: 0.4em 0;
 }
 

    