
.site{
    max-width: var(--layout-main-width);
    margin: 0 auto;
    padding-top: 2em;
    
    display: flex;
    flex-direction: column;
    align-content: space-between;
   
}

.site-header{
    text-align: center;
    margin-bottom: 1em;

    
   
}
.what-i-do{
    max-width: 50%;
    background: white;
    margin: 0 auto;
    text-align: center;
    padding-top: 2em;
}

.what-i-do ul{
    padding:0;
    
}
.what-i-do li{
    list-style: none outside;
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    
}
.what-i-do li img{
    align-self: center;
    padding-bottom: 0.5em;
}


.site-header ul{
    padding-left: 0;
    padding-top: 1em;
    display:flex;
   
    
}
.site-header h3{
    padding-top: 0.5em;
    padding-left: 0.1em;

    
}
.site-header li{
    margin-top: 0.5em;
   
}
.site-header p{
    padding-bottom: 0.8em;
   
}

footer{
    margin-top: auto;
    text-align: center;
}
footer p{
    padding: 0;
}
@media (min-width: 1024px){
    .what-i-do{
        max-width: 60%;
    }
    
}







