<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--When comiting to github root this must be '/assets/css/site.css because it didn't run from docs folder  -->
    <link href="{{ '/assets/css/site.css' | relative_url }}" rel="stylesheet">
    
    <title>Kari's Page</title>
</head>
<body>
    <div class="site">
        <header class="site-header">
            <h3>Karina Cholakova</h3>
            <p>Juniour Fullstack Developer</p>
            <div class="navbar">
                {% include navigation.html %}
            </div>                      
        </header>
        
        
        <main class="site-main">
            {{content}}
        </main>
        
        <footer class="site-footer">
            <p>&copy Karina Cho</p>
        </footer>        
    </div>
    
</body>
</html>